<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>uz</string>
                <string>up</string>
                <string>upz</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>uz-icon.icns</string>
            <key>CFBundleTypeName</key>
            <string>UpperZetta Source File</string>
        </dict>
    </array>
</dict>